<!DOCTYPE html>
<html>

<head>
    <title>东大战略智库</title>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="./imgs/seu.jpg" rel="shortcut icon" type="image/*" />
    <link href="css/article_content/article_content.css" rel="stylesheet" type="text/css" />
    <link href="css/article_content/article_bottom.css" rel="stylesheet" type="text/css" />
    <link href="css/article_content/article_right.css" rel="stylesheet" type="text/css" />
    <link href="css/article_content/nav.css" rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="./js/article_content/article_content.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

</head>

<body>
    <div style="width: 100%;background-color: rgb(69, 87, 59);">
        <nav class="top_nav">
            <div class="logo_box">
                <img class="logo" draggable="true" src="./imgs/logo.png" title="东南大学" alt="东南大学 Southeast University" />
            </div>
            <div class="title_box">
                <div class="big_title_box">
                    <div class="big_title_1">
                        <span class="big_title_text_1">东大战略智库</span>
                    </div>
                    <div class="big_title_2">
                        <span class="big_title_text_2">东南大学文化传媒与国际战略研究院</span>
                    </div>
                </div>
                <div class="small_title_box">
                    <ul>
                        <li class="content_phrase">一带一路</li>
                        <li class="content_phrase">国际热点</li>
                        <li class="content_phrase">大国关系</li>
                        <li class="content_phrase">周边安全</li>
                        <li class="content_phrase">世界经济</li>
                        <li class="content_phrase">国际贸易</li>
                        <li class="content_phrase">创新发展</li>
                        <li class="content_phrase">文化传媒</li>
                        <li class="content_phrase">网络强国</li>
                    </ul>
                </div>

            </div>
            <!--<div class="column_box">-->
                    <!--<a class="item_nav" href="#">首页</a>-->
                    <!--<a class="item_nav" href="#">教育</a>-->
                    <!--<a class="item_nav" href="#">国际</a>-->
                    <!--<a class="item_nav" href="#">军事</a>-->
                    <!--<a class="item_nav" href="#">财经</a>-->
                    <!--<a class="item_nav" href="#">产经</a>-->
                    <!--<a class="item_nav" href="#">科技</a>-->
                    <!--<a class="item_nav" href="#">风闻</a>-->
                    <!--<a class="item_nav" href="#">视频</a>-->
            <!--</div>-->
            <div class="subtitle_box">
                <div class="subtitle_box_border">
                    <div class="top_2">
                        <span style="margin-right: 10px">全球视野</span>
                        <span>中国情怀</span>
                    </div>
                    <div class="bottom_2">
                        <span style="margin-right: 10px">学术研究</span>
                        <span>决策参考</span>
                    </div>
                </div>
            </div>
        </nav>
    </div>
    <hr>
    <div class="main_box" id="main_box">
        <article class="left_article">
            <div class="article_title_div">
                彭波：全球经济放缓，中国为什么还敢开门迎外资？
            </div>
            <div class="author_info">
                <img src="imgs/article_content/default_head_img.png" class="author_head_img">
                <div class="author_info_border">
                    <div class="author_name">
                        彭波
                    </div>
                    <div class="author_company">
                        中国商务部研究院副研究员
                    </div>
                </div>
            </div>
            <div class="article_info">
                <div class="article_time">
                    2019-03-30 08:02:45
                </div>
                <div class="article_size">
                    <span id="font_name">字号：</span>
                    <div id="font_small" v-on:click="font_small">A-</div>
                    <div id="font_normal" v-on:click="font_normal">A</div>
                    <div id="font_big" v-on:click="font_big">A+</div>
                </div>
                <div class="article_from">
                    来源：观察者网
                </div>
            </div>
            <div class="article_key_words">
                <span style="float: left">关键字：</span>
                <div id="key_words">
                    <span v-for="key_word in key_words">
                        {{key_word}}
                    </span>
                </div>
            </div>
            <div id="article_content">
                <span v-bind:class="article_font_size">
                    <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;物联网是世界信息产业的第三次浪潮，在国际金融危机的因美中蓬勃发展，目前世界上越来越多的国家和地区，已经将发展物联网确定为培育核心竞争力的战略重点。两年多前，温家宝总理在无锡视察时发表了重要的讲话，开启了中国物联网的发展新纪元。一年前，新华社作为主办方之一，与国家相关部委和江苏省人民政府、无锡市人民政府共同主办首届中国国际物联网(传感网)博览会，一年后我们重聚在无锡，今天会场与去年有所不同，但是感到非常的有创意和新意。</p>
                    <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;我们以应用让物联网从概念走向现实为主题，走进物联网创新发展的成果，探讨物联网商业应用的模式和发展的趋势，是一件很有意义的事情。相信本次博览会将对中国物联网的发展起到积极的促进和作用。两年来中国物联网发展你追我赶，我国物联网发展日新月异，显示出勃勃生机，作为中国国家通讯社和世界级通讯社，新华社正在着力建设国际一流的现代()机构，对包括物联网在内的新技术、新应用、新发展，一直进行着密切的跟踪和研究。从去年到今年参加这个会议的时候，经常有政府部门、研究机构在问为什么新华社来参加物联网，你们是不是物联网研究机构，我们的回答是是也不是。毫无疑问，我们和专业的部门相比，专门的政府相比，我们不是专门研究物联网的，但是大家可能注意到一个现象，无论是在中国还是世界，我们在谈论物联网有很多很多的人，有很多很多的地方、企业、机构，更有个人在研究，也有很多人在研究这就是物联网的基地，那就是物联网的企业，他推出的就是物联网的概念，但是所有人都说它是物联网的时候，这是否是物联网就成为了疑问。</p>
                    <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;那么新华社作为传媒机构，我们作为媒体，我们赋有我们的责任，我们应该负责任的把我们社会上，国际、国内的真正优秀的物联网企业，真正成熟的物联网技术推向市场，就像这次大会的主题所说的，我们要把概念推向应用。如果不能成为应用，这个物联网恐怕所起的作用就不会这么大。正因为如此，我们在中国举办这么多的物联网论坛和其他活动的时候，我们在发现这么多物联网的企业，都在说他们是物联网企业的时候，我们为什么每年都要到无锡来，积极的参加这样一个活动，我们就是要积极的落实总理的指示精神，我们深深感到无锡作为中国物联网的基地，它有着独特的优势。这两年产业的发展我们也坚定的支持这个地方的物联网发展。</p>
                    <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;那么新华社作为传媒机构，我们作为媒体，我们赋有我们的责任，我们应该负责任的把我们社会上，国际、国内的真正优秀的物联网企业，真正成熟的物联网技术推向市场，就像这次大会的主题所说的，我们要把概念推向应用。如果不能成为应用，这个物联网恐怕所起的作用就不会这么大。正因为如此，我们在中国举办这么多的物联网论坛和其他活动的时候，我们在发现这么多物联网的企业，都在说他们是物联网企业的时候，我们为什么每年都要到无锡来，积极的参加这样一个活动，我们就是要积极的落实总理的指示精神，我们深深感到无锡作为中国物联网的基地，它有着独特的优势。这两年产业的发展我们也坚定的支持这个地方的物联网发展。</p>
                </span>
            </div>
        </article>
        <aside class="right_article">
            <div class="right_search">
                <input class="right_search_input_text" type="text" placeholder="请输入关键字" >
                <button class="right_search_button">搜索</button>
            </div>
            <hr style="width: 100%;height: 2px;margin-top: 20px;float: left;background-color: #588ed4">
            <div class="right_title_border">
                <div class="right_title">最新更新</div>
                <div class="right_more">更多</div>
            </div>
            <div style="width: 100%" id="right_title_vue">
                <span class="new_now" v-for="title_object in title_list" >
                    <img src="./imgs/news7.jpg" style="float:left;width: 90px;height: 60px">
                    <div style="float: left;height: 60px;width: 232px;margin-left: 10px">
                        <div style="position: absolute;top: 0;text-align: left;font-weight:bolder ;font-size: 16px">{{title_object.title}}</div>
                        <div style="position: absolute;bottom: 0;text-align: left;font-size: 14px;color: #a4a4a4">{{title_object.time}}</div>
                    </div>

                </span>
            </div>
            <hr style="width: 100%;height: 2px;margin-top: 20px;float: left;background-color: #588ed4">
            <div class="right_title_border">
                <div class="right_title">专家学者</div>
                <div class="right_more">更多</div>
            </div>
            <div style="width: 100%" id="right_title_vue_1">
                <div class="sp_card"  v-for="title_object in title_list">
                    <div class="sp_img_box">
                        <img src="./imgs/scholar.jpg" />
                    </div>
                    <span class="spd_title">程泰宁</span>
                </div>
            </div>
        </aside>

    </div>

    <div class="copyright">
        <div class="col1_box">
            <span class="copyright_label">
                Copyright &copy; Southeast University E-mail:master@seu.edu.cn
            </span>
            <span class="copyright_label">
                苏ICP备10088665号
            </span>
            <span class="copyright_label">
                公安备案号：32010202010062
            </span>
        </div>

        <div class="col2_box">
            <span class="copyright_label">
                东南大学文化传媒研究院
            </span>
            <span class="copyright_label">
                南京市玄武区、南京市江宁区东南大学路、南京市鼓楼区湖南路
            </span>
            <span class="copyright_label">
                联系：(025)83795903、13912970636（王）
            </span>
        </div>

        <div class="col3_box">
            <span class="copyright_label">
                <!-- 东南大学、朗坤智慧联合实验室 -->
            </span>
            <span class="copyright_label">
                <!-- 江苏省南京市雨花台区宁双路 软件谷云密城 -->
            </span>
            <span class="copyright_label">
                <!-- 联系：(025)83795903、13912970636（王） -->
            </span>
        </div>

        <div class="forward_box">
            <div class="icon_box">
                <img src="./imgs/blog.png" />
            </div>

            <div class="icon_box">
                <img src="./imgs/wechat.png" />
            </div>
        </div>

    </div>
</body>
<script src="./js/article_content/article_conten_vue.js"></script>
</html>