aside.left_sidebar,
aside.left_content,
aside.right_content {
    float: left;
    height: 100%;
    width: 20%;
    position: relative;
    top: -36%;
}

div.content1 img {
    /* width: 200px; */
}

/* 三个标题 */

aside.left_sidebar .left_sidebar_title,
aside.left_content .left_content_title,
aside.right_content .right_content_title {
    float: left;
    font-size: 22pt;
    box-sizing: border-box;
    padding: 0 10px;
    /* background-color: #876123; */
    display: block;
    margin-bottom: 10px;
    height: 40px;
}

/* 左边栏 */

aside.left_sidebar {
    width: 26%;
}

.left_sidebar_card_box {
    float: left;
    width: 98%;
    height: 100%;
    /* top: 1%; */
    left: 1%;
    /* background-color: #179348; */
    /* background-color: rgba(0, 0, 0, 0.1); */
}

.left_sidebar_card {
    /* float: left; */
    position: relative;
    display: block;
    width: 100%;
    height: 15.97%;
}

.left_sidebar_card:nth-child(2) {
    top: 0.5%;
}

.left_sidebar_card:nth-child(3) {
    top: 1%;
}

.left_sidebar_card:nth-child(4) {
    top: 1.5%;
}

.left_sidebar_card:nth-child(5) {
    top: 2%;
}

.left_sidebar_card:nth-child(6) {
    /* background-color: rgb(112, 44, 44); */
    top: 2.5%;
}

.sidebar_imgbox {
    display: block;
    width: 96%;
    left: 2%;
    height: 71%;
}

.sidebar_imgbox img {
    width: 100%;
    height: 100%;
}

.sidebar_titlebox {
    font-size: 10pt;
    font-weight: bold;
    letter-spacing: 0.15px;
    display: block;
    width: 96%;
    left: 2%;
    top: 2%;
    cursor: pointer;
}

.sidebar_titlebox:hover {
    color: #e00;
}

.sidebar_timebox {
    font-size: 9pt;
    display: block;
    color: #666;
    width: 96%;
    left: 2%;
    top: 4%;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

/* 左内容栏 */

aside.left_content,
aside.right_content {
    width: 37%;
    /* background-color: rgb(48, 161, 118); */
}

.left_content_card_box,
.right_content_card_box {
    height: 101%;
    /* background-color: rgba(0, 0, 0, 0.1); */
}

.left_content_card,
.right_content_card {
    width: 96%;
    left: 1%;
    height: 24%;
}

.lc_imgbox,
.rc_imgbox {
    width: 98%;
    left: 1%;
    height: 70%;
    border-radius: 5px 5px 0 0;
}

.lc_imgbox img,
.rc_imgbox img {
    width: 100%;
    height: 70%;
    border-radius: 5px 5px 0 0;
    cursor: pointer;
}

.lc_titlebox,
.rc_titlebox {
    width: 100%;
    left: 1%;
    font-size: 17pt;
    display: block;
    color: #444;
    letter-spacing: 1.2px;
    background-color: rgba(255, 255, 255, 0.7);
    top: -1%;
    cursor: pointer;
    border-radius: 0 0 5px 5px;
}

.left_content_card:nth-child(2),
.right_content_card:nth-child(2) {
    top: 4.5%;
}

.left_content_card:nth-child(3),
.right_content_card:nth-child(3) {
    top: 5.2%;
}

.left_content_card:nth-child(4),
.right_content_card:nth-child(4) {
    top: 5.9%;
}

.lc_timebox,
.rc_timebox {
    font-size: 11pt;
    display: block;
    color: #666;
    width: 96%;
    top: 1%;
    left: 1%;
}

/* 右内容栏 */