.content1 img {
    width: 200px;
    height: 100px;
}

.left_sidebar, .left_content, .right_content {
    float: left;
    height: 100%;
}

.left_sidebar,.left_content{
    box-sizing: border-box;
    border-right: 5px #fff solid;
}

.left_sidebar_title_box, .left_content_title_box, .right_content_title_box {
    width: 90%;
    height: 5%;
    /* background-color: rgba(0, 0, 0, 0.4);   */
    font-size: 22pt;
    box-sizing: border-box;
    padding-left: 12px;
}

.right_content_title_box{
    color: #4f4f4f;
}

.left_sidebar_title_box{
    color: #6f6f6f;
}

.more{
    font-size: 10pt;
    float: right;
    /* background-color: rgba(123, 45, 100, 0.4); */
    height: 40%;
    top: 25%;
    left: 5%;
}

.more a{
    text-decoration: underline;
}

.left_sidebar {
    width: 25%;
    /* background-color: rgba(100, 100, 0, 0.4); */
    /* box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2); */
}

.left_sidebar_card_box {
    width: 100%;
    height: 95%;
    /* background-color: rgba(255, 255, 255, 0.4); */
}

.left_sidebar_card {
    width: 90%;
    left: 5%;
    height: 16%;
    /* background-color: rgba(198, 123, 255, 0.4); */
}

.left_sidebar_card:nth-child(n+2) {
    /* top: 0.666%; */
    margin-top: 10px;
}

.sidebar_imgbox {
    display: block;
    width: 100%;
    height: 70%;
}

.sidebar_imgbox img {
    width: 100%;
    height: 100%;
}

.sidebar_titlebox {
    width: 100%;
    height: 23.5%;
    top: 2%;
    font-size: 12pt;
    font-weight: bold;
    display: block;
    color: #38322A;
}

.sidebar_titlebox span {
    cursor: pointer;
}

.sidebar_titlebox span:hover {
    color: #e30000;
}

.sidebar_timebox {
    display: block;
    width: 100%;
    /* height: 10%; */
    font-size: 9pt;
    color: #818181;
    /* top: 2%; */
    /* background-color: rgba(0, 0, 0, 0.4); */
    border-bottom: 1px solid #aaa;
}

.left_content {
    width: 36%;
    left: 1%;
    /* background-color: rgba(40, 136, 28, 0.4); */
    /* box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2); */
}

.left_content_card_box, .right_content_card_box {
    height: 95%;
    width: 100%;
    /* background-color: rgba(250, 0, 250, 0.4); */
}

.left_content_card, .right_content_card {
    height: 25%;
    width: 94%;
    left: 3%;
    background-color: rgba(255, 255, 255, 0.4);
}

.lc_imgbox, .rc_imgbox {
    display: block;
    width: 100%;
    height: 70%;
}

.lc_imgbox img, .rc_imgbox img {
    width: 100%;
    height: 100%;
}

.label_box {
    display: block;
    width: 90%;
    left: 5%;
    height: 5%;
    /* background-color: red; */
    font-size: 10pt;
    color: #6CA1A4;
}

.label_box span:nth-child(2) {
    margin-left: 10px;
}

.lc_titlebox, .rc_titlebox {
    display: block;
    /* background-color: red; */
    width: 90%;
    left: 5%;
    height: 16%;
    top: 1%;
    font-size: 16pt;
    color: #6F6F6F;
}

.lc_titlebox a, .rc_titlebox a {
    cursor: pointer;
    color: #6F6F6F;
}

.lc_titlebox a:hover, .rc_titlebox a:hover {
    color: #e30000;
}

.lc_timebox, .rc_timebox {
    width: 90%;
    left: 5%;
    top: 3.5%;
    /* margin-top: 5px; */
    height: 5%;
    display: block;
    /* background-color: rgba(23, 56, 129, 0.4); */
    font-size: 9pt;
    color: #7C7C7C;
}

.right_content {
    width: 36%;
    left: 2%;
    /* background-color: rgba(255, 255, 255, 0.4); */
    /* box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2); */
}