.content1_container {
    width: 1200px;
    /* height: 600px; */
    margin: 0 auto;
    /* background-color: rgba(217, 239, 248, 0.4); */
    font-size: 0;
}

.left_sidebar {
    /* display: inline-block; */
    float: left;
    width: 26%;
    /* background-color: rgba(100, 200, 50, 0.4); */
    border-right: 4px solid rgb(236, 246, 253);
    box-sizing: border-box;
}

.left_content, .right_content {
    /* display: inline-block; */
    float: left;
    width: 37%;
    border-left: 4px solid rgb(236, 246, 253);
    box-sizing: border-box;
}

.left_content {
    /* background-color: rgba(50, 200, 50, 0.4); */
    border-right: 4px solid rgb(236, 246, 253);
    box-sizing: border-box;
}

.right_content {
    /* background-color: rgba(200, 100, 50, 0.4); */
}

.right_content_card_box, .left_content_card_box, .left_sidebar_card_box {
    /* background-color: rgba(220, 243, 247, 0.538); */
    background-color: rgba(255,255,255,0.4);
}

.content1_title_box {
    width: 100%;
    height: 40px;
    font-size: 0;
}

.content1_title {
    display: inline-block;
    width: 50%;
    height: 100%;
    line-height: 40px;
    font-size: 22pt;
    /* background-color: rgba(100, 200, 100, 0.4); */
    box-sizing: border-box;
    padding-left: 20px;
}

.content1_more_box {
    display: inline-block;
    width: 50%;
    height: 100%;
    font-size: 22pt;
    text-align: right;
    /* background-color: rgba(38, 146, 38, 0.4); */
    box-sizing: border-box;
    padding-right: 20px;
}

.content1_more_box a {
    text-decoration: underline;
}

.content1_more_box a:hover {
    color: #e00;
}

.left_sidebar_card_box {
    /* background-color: rgba(67, 87, 153, 0.4); */
    box-sizing: border-box;
}

.left_sidebar_card {
    display: inline-block;
    margin: 5px 20px;
    /* background-color: rgba(122, 212, 19, 0.4); */
    font-size: 0;
    cursor: pointer;
}

.left_sidebar_card:hover .sidebar_titlebox {
    color: #a00;
}

.sidebar_imgbox {
    display: inline-block;
    width: 100%;
    height: 180px;
}

.sidebar_imgbox img {
    width: 100%;
    height: 100%;
}

.sidebar_titlebox {
    display: inline-block;
    width: 100%;
    height: 40px;
    line-height: 20px;
    font-weight: bold;
    font-size: 11pt;
    box-sizing: border-box;
    padding: 0 5px;
}

.sidebar_timebox, .timebox {
    display: inline-block;
    width: 100%;
    height: 20px;
    line-height: 20px;
    font-size: 9pt;
    color: #818181;
    box-sizing: border-box;
    padding: 0 5px;
    border-bottom: 1px solid rgb(210, 240, 245);
}

.content_card {
    display: inline-block;
    padding: 5px 20px;
    /* background-color: rgba(122, 212, 19, 0.4); */
    font-size: 0;
    /* cursor: pointer; */
    box-sizing: border-box;
    border-top: 4px solid rgb(236, 246, 253);
    font-size: 0;
}

.content_card:nth-child(1), .content_card:nth-child(5) {
    border-top: 4px solid rgba(220, 243, 247, 0.538);
    /* border-top: 4px solid red; */
}

.imgbox {
    display: inline-block;
    width: 100%;
    height: 240px;
    /* background-color: rgba(123, 0, 0, 0.4); */
}

.imgbox img {
    width: 100%;
    height: 100%;
}

.label_box {
    width: 100%;
    height: 21px;
    line-height: 21px;
    display: inline-block;
    color: #6CA1A4;
    box-sizing: border-box;
    padding: 0 5px;
}

.label_box span {
    font-size: 10pt;
}

.label_box span:nth-child(2) {
    margin-left: 10px;
}

.titlebox {
    display: inline-block;
    width: 100%;
    height: 80px;
    line-height: 40px;
    /* background-color: rgba(34, 102, 37, 0.4); */
    box-sizing: border-box;
    padding: 0 5px;
    /* letter-spacing: 0.6733px; */
    font-size: 16pt;
    color: #6F6F6F;
}

.titlebox span {
    font-size: 16pt;
    cursor: pointer;
}

.titlebox span:hover {
    color: #e00;
}