/* ::selection{
	background: rgba(0,0,0,0);
} */

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    position: relative;
}

html, body, ul, ol, li {
    margin: 0;
    padding: 0;
    font-family: "微软雅黑";
}

li, a {
    text-decoration: none;
    list-style-type: none;
}

nav, aside, article, footer {
    float: left;
}

html {
    height: 500%;
    width: 100%;
    background-color: rgb(240, 247, 252);
    /* position: relative; */
}

body {
    height: 100%;
    width: 100%;
    /* position: relative; */
    clear: both;
}

nav.nav_webpage {
    height: 3.3%;
    width: 100%;
    background-color: rgb(69, 87, 59);
    display: inline-block;
}

hr.split_line {
    height: 0.2%;
    top: 0.1%;
    border: 0px solid #eee;
    width: 80%;
    left: 10%;
    background-color: rgb(179, 229, 245);
}

article.show_board {
    top: 0.1%;
    height: 15.5%;
    width: 92%;
    left: 5%;
    /* background-color: red; */
    position: relative;
}

div.content1 {
    float: left;
    position: relative;
    width: 80%;
    height: 40%;
    left: 10%;
    top: 1%;
    /* background-color: red; */
}

div.content2 {
    display: block;
    float: left;
    position: relative;
    width: 80%;
    height: 30%;
    left: 10%;
    top: 2%;
    /* background-color: rgb(62, 21, 158); */
}

div.partners {
    display: block;
    /* float: left; */
    position: absolute;
    width: 80%;
    height: 9%;
    left: 10%;
    top: 93%;
    /* background-color: rgb(114, 88, 173); */
}

div.copyright {
    display: block;
    position: absolute;
    width: 100%;
    height: 100px;
    top: 103%;
    background-color: rgb(34, 44, 29);
    color: #eee;
    font-size: 10pt;
}