.logo_box, .title_box, .subtitle_box {
    /* display: inline-block; */
    float: left;
    /* position: relative; */
}

/* 东南大学校徽 */

.logo_box {
    width: 15%;
    height: 100%;
    left: 10%;
    top: 0%;
    /* background-color: red; */
}

.logo {
    display: inline-block;
    height: 40%;
    top: 30%;
    cursor: pointer;
}

/* 网站标题 */

.title_box {
    width: 50%;
    height: 100%;
    left: 12%;
    top: 0%;
    /* background-color: #555566; */
}

.title_box .top_titles {
    width: 100%;
    height: 60%;
    top: 10%;
    /* background-color: #785643; */
}

.top_titles h1, .top_titles h2 {
    float: left;
}

.top_titles h1 {
    height: 100%;
    width: 48%;
    text-align: center;
    color: #eee;
    font-size: 36pt;
    font-weight: normal;
    /* background-color: #127845; */
}

.top_titles h1 span {
    display: inline-block;
    width: 100%;
    height: 80%;
    top: 20%;
    letter-spacing: 10px;
    /* background-color: #657812; */
    text-align: left;
}

.top_titles h2 {
    height: 100%;
    width: 52%;
    font-size: 14pt;
    /* background-color: #63ad88; */
}

@font-face {
    font-family: "hand-writing1";
    src: url("../font/zhongshan.ttf");
}

@font-face {
    font-family: "hand-writing2";
    src: url("../font/一纸情书.ttf");
}

.top_titles h2 span {
    display: inline-block;
    height: 40%;
    top: 60%;
    /* left: 1%; */
    width: 100%;
    font-weight: normal;
    letter-spacing: 3px;
    /* background-color: #986532; */
    color: #ddd;
    font-family: "hand-writing1";
    font-size: 16pt;
}

.title_box .bottom_phrases {
    width: 100%;
    height: 20%;
    top: 10%;
    /* background-color: #221470; */
}

.bottom_phrases ul {
    width: 100%;
    height: 100%;
}

.bottom_phrases ul li {
    float: left;
    width: 10%;
    height: 100%;
    /* background-color: #666123;     */
    box-sizing: border-box;
    color: #aaa;
    letter-spacing: 1.6px;
    font-size: 10.5pt;
    padding: 2px;
    cursor: pointer;
}

.content_phrase:nth-child(1) {
    left: 0%;
}

.content_phrase:nth-child(2) {
    left: 1.25%;
}

.content_phrase:nth-child(3) {
    left: 2.5%;
}

.content_phrase:nth-child(4) {
    left: 3.75%;
}

.content_phrase:nth-child(5) {
    left: 5%;
}

.content_phrase:nth-child(6) {
    left: 6.25%;
}

.content_phrase:nth-child(7) {
    left: 7.5%;
}

.content_phrase:nth-child(8) {
    left: 8.75%;
}

.content_phrase:nth-child(9) {
    left: 10%;
}

/* 网站简介框 */

.subtitle_box {
    width: 11%;
    height: 100%;
    left: 14%;
    top: 0%;
    /* color: rgb(126, 93, 0); */
    color: #d1d1d1;
    font-weight: bold;
    font-size: 12pt;
    /* background-color: #08086b; */
}

.subtitle_box .top_2, .subtitle_box .bottom_2 {
    width: 100%;
    height: 30px;
    line-height: 30px;
    text-align: center;
}

.top_2 {
    /* background-color: #35aa3a; */
    top: 25%;
}

.top_2 span {
    float: left;
    width: 50%;
}

.bottom_2 {
    /* background-color: #ce6d1e; */
    top: 25%;
}

.bottom_2 span {
    float: left;
    width: 50%;
}