.link_title_container {
    width: 1100px;
    height: 100%;
    margin: 0 auto;
    /* background-color: rgba(187, 97, 123, 0.4); */
    font-size: 0;
}

.link_title {
    display: inline-block;
    /* background-color: rgba(23, 123, 65, 0.4); */
    width: 8%;
    text-align: center;
    height: 100%;
    line-height: 30px;
    left: 1%;
}

.link_title:nth-child(2) {
    left: 2%;
}

.link_title:nth-child(3) {
    left: 3%;
}

.link_title:nth-child(4) {
    left: 4%;
}

.link_title:nth-child(5) {
    left: 5%;
}

.link_title:nth-child(6) {
    left: 6%;
}

.link_title:nth-child(7) {
    left: 7%;
}

.link_title:nth-child(8) {
    left: 8%;
}

.link_title:nth-child(9) {
    left: 9%;
}

.link_title:nth-child(10) {
    left: 10%;
}

.link_title:nth-child(11) {
    left: 11%;
}

.link_title:nth-child(12) {
    left: 12%;
}

.link_title a {
    color: #333;
}

.link_title a:hover {
    color: #e00;
}
